.quizBody{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.quizQuestionBody, .quizHeading{
    border-radius: 5px;
    border-color: lightgray;
    background-color: lightgray;
}

.button{
    border-radius: 5px;
}

.answer{
    background-color: lightblue;
}

.wrongAnswer{
    background-color: red;
}

.correctAnswer{
    background-color:green;
}

.mainPageImage{
    margin: 1%;
    max-width: 98%;
    height: auto;

}