.quizBody{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.quizQuestionBody{
    border-radius: 5px;
    border-color: lightgray;
    background-color: lightgray;
    padding:1%;
}

.button{
    border-radius: 5px;
}

.mainPageImage{
    margin: 1%;
    max-width: 98%;
    height: auto;
}

#results-image{
    max-width:98%;
    margin-bottom: 1%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
  
.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}


